.container {
    display: flex;
    flex-direction: column;
}

.alignment-home {
    margin-left: auto;
    margin-right: auto;
    width: 65em;
    height: 100%;
}

.title {
    color: var(--blue);
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.wrap-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.button-refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.25em;
    width: 3.25em;
    background: none;
    border: none;
    cursor: pointer;
}

.button-refresh-icon {
    height: 1.625em;
    width: 1.625em;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.25em;
    width: 3.25em;
    border-radius: 0.5em;
    border: none;
    background: var(--green-light);
    cursor: pointer;
}

.button-margin {
    margin-left: 1em;
}

.button-margin-right {
    margin-right: 1em;
}

.wrap-input-search{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 25em;
    align-items: center;
    background: var(--white);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin-right: 1em;
}

.input-search {
    height: 3.25em;
    width: 100%;
    background-color: var(--white);
    border: none;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: var(--black);
}

.input-search-icon {
    height: 1.625em;
    width: 1.625em;
    background-color: var(--white);
    margin-right: 1em;
}

.table {
    width: 100%;
    border-collapse:separate;
    border-spacing: 0 0.7em;
}

.table-header {
    height: 3.25em;
    width: 100%;
}

.table-header-item {
    color: var(--black-light);
    font-weight: 500;
    font-size: 0.875em;
}

.table-row {
    height: 3.25em;
    width: 100%;
    background: var(--white);
    border-spacing: 1em;
    cursor: pointer;
}

.table-row-selected {
    border: solid 0.063em var(--green-light);
}

.table-row-item {
    color: var(--black);
    font-weight: 500;
    font-size: 0.875em;
    text-align: center;
    width: 9.286em;
    overflow: hidden;
}

.table-row-item-first {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.table-row-item-last {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.table-header-item-name {
    width: 22.75em;
}

.wrap-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22em;
    margin-top: 2em;
}

.message-icon {
    height: 5em;
    width: 5em;
    margin-bottom: 1em;
}

.message-label {
    color: var(--black);
    font-weight: 500;
    font-size: 1em;
    width: 25%;
    text-align: center;
}

