.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.background {
    width: 100%;
}

.login {
    display: flex;
    position: absolute;
    background: var(--white);
    /* min-height: 36.688em; */
    height: fit-content;
    width: 23.375em;
    border-radius: 0.75em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4em;
    padding-top: 4em;
}

.logo-verzel {
    height: 4.548em;
    width: 11.938em;
    margin-bottom: 1.5em;
}

.login-title {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.wrap-input {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

.input {
    height: 3.25em;
    width: 19.375em;

    border-radius: 0.5em;
    background: var(--white);
    border: solid 0.063em var(--black-light);

    padding-left: 1em;
    padding-right: 1em;

    color: var(--black);
    font-weight: 400;
}

.input:focus {
    border: solid 0.063em var(--green-light);
}

.wrap-input-label {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    bottom: -0.6em;
    left: 1em;

    background: var(--white);
    width: fit-content;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.input-label {
    color: var(--black-light);
    font-weight: 400;
    font-size: 0.75em;
}

.input:focus .input-label {
    color: var(--green-light);
}

.login-sign-up {
    color: var(--black-light);
    font-weight: 400;
    font-size: 0.75em;
    text-decoration: none;

    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.wrap-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.wrap-register {
    display: none;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.button-sign-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 3.25em;
    width: 19.375em;

    border: solid 0.063em var(--green);
    border-radius: 0.5em;

    background: var(--white);

    cursor: pointer;
}

.button-sign-in:hover {
    background: var(--green);
}

.button-sign-in-label {
    color: var(--green);
    font-weight: 500;
    font-size: 0.875em;
}

.button-sign-in:hover .button-sign-in-label {
    color: var(--white);
}

.margin {
    margin-bottom: 1.5em;
}

.no-margin {
    margin-bottom: 0em;
}

.wrap-title-register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 19.375em;
    margin-bottom: 0.5em;
}

.register-go-back-icon {
    height: 1.625em;
    width: 1.625em;
    cursor: pointer;
    /* margin-bottom: 1em; */
}

.fake-space {
    height: 1.625em;
    width: 1.625em;
}

.wrap-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin-top: 0.5em;
}

.message {
    color: var(--black);
    font-weight: 500;
    font-size: 0.75em;
}

.wrap-message-custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: 0.5em;
}

.message-custom {
    color: var(--black);
    font-weight: 500;
    font-size: 0.875em;
}
