.container {
    display: flex;
    flex-direction: column;
}

.alignment-home {
    margin-left: auto;
    margin-right: auto;
    width: 65em;
}

.title {
    color: var(--blue);
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.wrap-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-bottom: 1em;
}

.wrap-filter-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 15.313em;
}

.filter-text {
    color: var(--black);
    font-weight: 600;
    font-size: 1em;
}

.button-reset-filter {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}

.button-reset-filter-icon {
    height: 1.625em;
    width: 1.625em;
}

.wrap-input-button {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.25em;
    width: 3.25em;
    border-radius: 0.5em;
    border: none;
    background: var(--green-light);
    cursor: pointer;
}

.button-margin-left {
    margin-left: 1.25em;
}


.wrap-input-searchh{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 43.938em;
    align-items: center;
    background: var(--white);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.input-search {
    height: 3.25em;
    width: 100%;
    background-color: var(--white);
    border: none;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: var(--black);
}

.input-search-icon {
    height: 1.625em;
    width: 1.625em;
    background-color: var(--white);
    margin-right: 1em;
}

.wrap-search-result-order {
    display: grid;
    grid-template-columns: 15.313em 48.438em;
    grid-gap: 1.25em;
    margin-bottom: 1em;
}

.wrap-search-result-order-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.search-result-text {
    color: var(--black);
    font-weight: 500;
    font-size: 0.875em;
}

.order {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    cursor: pointer;

    color: var(--black);
    font-weight: 500;
    font-size: 0.875em;
}

.order-selected {
    color: var(--green-light);
    font-weight: 500;
    font-size: 1em;
    margin-left: 0.5em;
}

.order-modal {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 0.5em;
    height: fit-content;
    width: 9em;
}

.order-modal-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-weight: 500;
    font-size: 1em;

    cursor: pointer;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    height: 3em;
    width: 100%;
}

.order-modal-item:hover {
    background: var(--black-lighter);
}

.order-modal-item-margin {
    margin-bottom: 1em;
}

.wrap-filter-cards {
    display: grid;
    grid-template-columns: 15.313em 48.438em;
    grid-gap: 1.25em;
}

.wrap-cards {
    display: grid;
    grid-template-columns: 15.313em 15.313em 15.313em;
    grid-gap: 1.25em;
    margin-bottom: 2em;
}

.wrap-filters {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    margin-bottom: 1em;
}

.filter-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    background: var(--white);
    height: 3.25em;
    width: 100%;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

.wrap-filter-content {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.filter-name {
    color: var(--black);
    font-weight: 500;
    font-size: 0.875em;
}

.filter-content {
    display: none;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    background: var(--white);
    border-radius: 0.5em;
    margin-top: 1em;
}

.filter-content-item {
    color: var(--black);
    font-weight: 500;
    font-size: 0.875em;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
}

.message-no-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20em;
}

.message-no-result-icon {
    height: 5em;
    width: 5em;
    margin-bottom: 1em;
}

.message-no-result-text {
    color: var(--black);
    font-weight: 500;
    font-size: 0.875em;
    width: 30%;
    text-align: center;
}

