
.footer {
    display: flex;
    justify-content: center;
    background: var(--white);
    height: 13.75em;
    justify-self: flex-end;
}

.footer-logo-verzel {
    height: 4.548em;
    width: 11.938em;
}

.wrap-footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrap-footer-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-left: 4em;
}

.footer-title {
    color: var(--black-light);
    font-weight: 600;
    font-size: 0.875em;
    margin-bottom: 0.5em;
}

.footer-link {
    color: var(--blue);
    font-weight: 500;
    font-size: 0.875em;
    text-decoration: none;
    margin-bottom: 0.5em;
}
