.modal-background {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0; 
    z-index: 1;
}

.modal {
    display: flex;
    flex-direction: column;

    height: fit-content;
    width: 38.625em;
    border-radius: 0.5em;

    background: var(--white);

    padding: 1.813em;
}

.wrap-modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.modal-title {
    color: var(--blue);
    font-weight: 700;
    font-size: 1.5em;
}

.wrap-modal-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.modal-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-button-icon {
    height: 1.625em;
    width: 1.625em;
}

.margin-right {
    margin-right: 1em;
}

.modal-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

/* Input */

.wrap-input {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

.input {
    height: 3.25em;

    border-radius: 0.5em;
    background: var(--white);
    border: solid 0.063em var(--black-light);

    padding-left: 1em;
    padding-right: 1em;

    color: var(--black);
    font-weight: 400;
}

.input:focus {
    border: solid 0.063em var(--green-light);
}

.wrap-input-label {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    bottom: -0.6em;
    left: 1em;

    background: var(--white);
    width: fit-content;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.input-label {
    color: var(--black-light);
    font-weight: 400;
    font-size: 0.75em;
}

.input:focus .input-label {
    color: var(--green-light);
}

.input-name {
    width: 17em;
}

.input-model {
    width: 11em;
}

.modal-drop-files {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12.875em;
    width: 100%;
    border: solid 0.063em var(--black-light);
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.modal-drop-files-icon {
    height: 3em;
    width: 3em;
    margin-bottom: 1em;
}

.modal-drop-files-label {
    color: var(--black-light);
    font-weight: 600;
    font-size: 0.875em;
    text-align: center;
    width: 50%;
}

/* Button Finish */

.button-finish {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 3.25em;
    width: 100%;

    border: solid 0.063em var(--green);
    border-radius: 0.5em;

    background: var(--white);

    cursor: pointer;
}

.button-finish:hover {
    background: var(--green);
}

.button-finish-label {
    color: var(--green);
    font-weight: 500;
    font-size: 0.875em;
}

.button-finish:hover .button-finish-label {
    color: var(--white);
}

.modal-files {
    display: none;
    grid-template-columns: 10.33em 10.33em 10.33em;
    grid-gap: 1em;
    overflow-y: scroll;
    overflow-x: none;
}

.modal-files-item {
    height: 10em;
    width: 10em;
    border-radius: 0.5em;
}

.wrap-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin-top: 0.5em;
}

.message {
    color: var(--black);
    font-weight: 500;
    font-size: 0.75em;
}

.wrap-message-three {
    display: grid;
    grid-template-columns: 11em 11em 11em;
    grid-gap: 1em;
}

.wrap-message-two {
    display: grid;
    grid-template-columns: 17em 17em;
    grid-gap: 1em;
}

.wrap-message-custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: 0.5em;
}

.message-custom {
    color: var(--black);
    font-weight: 500;
    font-size: 0.875em;
}