.card {
    display: flex;
    flex-direction: column;
    height: 18.75em;
    width: 15.313em;
    border-radius: 0.5em;
    background-color: var(--white);
}

.card-image {
    height: 10em;
    width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.card-title {
    color: var(--blue);
    font-weight: 500;
    font-size: 0.875em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-description {
    color: var(--black);
    font-weight: 400;
    font-size: 0.875em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
}

.card-value {
    color: var(--green-light);
    font-weight: 600;
    font-size: 1.125em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: 1em;
}

