.container {
    display: flex;
    flex-direction: column;
}

.alignment-detail {
    margin-left: auto;
    margin-right: auto;
    width: 65em;
    height: 100%;
}

.wrap-detail-content {
    display: grid;
    grid-template-columns: 42.938em 20.813em;
    grid-template-rows: 28.041 6.408em;
    grid-gap: 1.25em;
    margin-top: 2em;
}

.main-image-car {
    display: flex;
    width: 42.938em;
    height: 28.041em;
    border-radius: 0.5em;
}

.wrap-car-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 20.813em;
    height: 28.063em;
}

.wrap-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
}

.car-name {
    color: var(--blue);
    font-weight: 700;
    font-size: 1.75em;
    margin-bottom: 0.7em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.wrap-car-describe {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: flex-start;
    justify-content: space-between;
}

.car-describe {
    color: var(--black);
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 0.4em;
}

.wrap-button-have-interrest {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
}

.wrap-value {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: flex-start;
    margin-bottom: 1em;
}

.car-value-label {
    color: var(--blue);
    font-weight: 500;
    font-size: 1em;
}

.car-value {
    color: var(--green-light);
    font-weight: 700;
    font-size: 2.625em;
}

.button-have-interrest {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3.25em;
    width: 100%;
    background: var(--blue);
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
}

.button-have-interrest-label {
    color: var(--white);
    font-weight: 600;
    font-size: 0.875em;
}

.wrap-button-slides {
    display: flex;
    flex-direction: row;
    width: 42.938em;
    height: 6.408em;
    align-items: center;
}

.wrap-slides {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 42.938em;
    height: 6.408em;
    overflow: scroll;
    overflow-y: hidden;
}

.wrap-slides::-webkit-scrollbar {
    scroll-snap-type: x;
    scroll-snap-align: none;
    width: 0em;
    height: 0em;
}

.wrap-slides:last-child {
    margin-right: 0em;
}

.slide {
    width: 9.813em;
    height: 6.408em;
    border-radius: 0.5em;
    margin-right: 1.25em;
}

.wrap-button {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 42.938em;
    height: 6.408em;
    z-index: 0;
}

.button-next {
    position: relative;
    right: -1.625em;
    display: none;
    height: fit-content;
    width: fit-content;
    background: none;
    border: none;
}

.button-last {
    position: relative;
    left: -1.625em;
    display: none;
    height: fit-content;
    width: fit-content;
    background: none;
    border: none;
}

.button-slide-icon {
    height: 1.625em;
    width: 1.625em;
}


