@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #F4F4F4;
    --blue: #031D3D;
    --blue-light: #00A4B2;
    --green: #6AB026;
    --green-light: #ABC616;
    --white: #ffffff;
    --black: #434343;
    --black-light: #949494;
    --black-lighter: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--background);
    -webkit-font-smoothing: antialiased; /* Melhor a visualização da font*/
    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@media (min-width: 0px) and (max-width: 768px) {
    * {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    * {
        font-size: 12px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    * {
        font-size: 14px;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    * {
        font-size: 16px;
    }
}

@media (min-width: 2560px) {
    * {
        font-size: 22px;
    }
}

.container {
    height: 100vh;
    width: 100vw;
}

.alignment {
    margin: auto;
    width: 65em;
}

/* Bug Input Blue */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px var(--white) inset !important;
}

/* Scroll Bar */

::-webkit-scrollbar {
    scroll-snap-type: x;
    scroll-snap-align: none;
    width: 0.6em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black-light);
    border-radius: 1.25em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--black-light);
}