
.header {
    display: flex;
    justify-content: center;
    background: var(--white);
    height: 9.875em;
    width: 100%;
}

.header-slogan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.header-logo-verzel {
    height: 4.548em;
    width: 11.938em;
}

.wrap-header-content {
    display: grid;
    grid-template-columns: 15.320em 41.555em 5.625em;
    grid-gap: 1.25em;
    width: 65em;
}

.wrap-header-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.header-link {
    color: var(--blue);
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
}

.wrap-header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.header-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;

    color: var(--blue);
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
}

.header-login-icon {
    height: 1.625em;
    width: 1.625em;
    color: var(--white);
    margin-right: 0.5em;
}

.header-logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;

    color: var(--blue);
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;

    border: none;
    background: none;

    cursor: pointer;
}